@font-face {
  font-family: 'Berthold';
  src: url(../fonts/Berthold-Akzidenz-Grotesk-Regular.woff);
}
@@font-face {
  font-family: 'Berthold-Light';
  src: url(../fonts/Berthold-Akzidenz-Grotesk-Light.woff);
}
.maincontainer {
  display: grid;
  margin: 15px;
  font-family: Berthold;
  font-weight: normal;
  font-size: 14pt;
  line-height: 18pt;
  letter-spacing: 0.25pt;
  height: 100%;
  grid-template-columns: 3fr 9fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header links"
    "main ."
    ". footer";
}

.maincontainer2 {
  display: grid;
  margin: 15px;
  font-family: Berthold;
  font-weight: normal;
  font-size: 14pt;
  line-height: 18pt;
  letter-spacing: 0.25pt;
  height: 100%;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header links"
    "main ."
    ". footer";
}

.item-a {
  grid-area: header;
}

#plus {
  font-family: Berthold-Light;
  font-size: 30pt;
  position: fixed;
  right: 15px;
  top: 15px;
  text-align: right;
}

#link {
  display: none;
  position: fixed;
  right: 10px;
  top: 10px;
  text-align: right;
}
.item-b {
  grid-area: main;
}

.item-c {
  text-align: right;
  grid-area: links;
}

.em {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.item-d {
  grid-area: footer;
}
a {
  color: gray;
}

#ppic {
  position: absolute;
  bottom: 0;
  right:0;
  border-radius:10%;
  margin: 20px;
  width: 20%;
  height: auto;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

.exp {
  grid-area: links;
}

.sectionheader {
 line-height: 42pt;
 font-size: 42pt;
 margin-top: 10;
 padding: 0px;
}
ul {
    margin-top: 0px;
}
.expli {
  border-top: 1px solid black;
}

html {
  height: 100%;
}

body {
  font-family: Berthold;
  height: 100%;
  background: linear-gradient(217deg, rgb(169, 214, 243), rgb(255, 253, 229));
  background-size: 400% 400%;
  animation: AnimationName 13s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 76%}
    50%{background-position:100% 25%}
    100%{background-position:0% 76%}
}
